.page-content__wrap {
  display: grid;
  grid-template-areas: "text-a image";
}
.page-content__wrap p {
  grid-column: 1/-1;
  margin: 0;
}
.page-content__wrap p:not(:last-of-type) {
  margin-bottom: 20px;
}
.page-content__wrap p:first-of-type {
  grid-area: text-a;
  max-width: 768px;
  width: 100%;
}
.page-content__wrap .page-content__image {
  grid-area: image;
  max-height: 357px;
  margin-left: 60px;
}