.diplomas-card {
  max-width: 355px;
  width: 100%;
  padding: 10px;
  border: 1px solid #CDCDCD;
}

.diplomas__slider {
  padding: 70px 0;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.diplomas__slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diplomas__slider .swiper-slide-active .diplomas-card {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  margin: 0 auto;
}

.diplomas__slider .swiper-slide-next .diplomas-card {
  margin-left: auto;
}