.filter {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 17px;
  row-gap: 20px;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
  }
}

.filter__list {
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: $white;

  @media screen and (max-width: 768px) {
    grid-column: 1 / -1;
  }

  li {
    padding: 8px 24px;
    background-color: #C3C3C3;
    border-radius: 45px;
    cursor: pointer;
    transition: $ts;
    font-size: size(16);
    line-height: size(19);
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: size(14);
      line-height: size(17);
      padding: 4px 16px;
    }

    &:hover,
    &.active {
      background-color: $blue;
    }
  }
}

.filter__name {
  font-size: size(16);
  line-height: size(19);
  font-weight: 300;
  color: $font-color;
  grid-column: 1 / 2;

  @media screen and (max-width: 768px) {
    grid-column: 1 / -1;
    margin-bottom: -8px;
    font-size: size(14);
    line-height: size(17);
  }
}